body {
  color: #757575;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 60px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

.heder__container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .heder__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
}

.direction__container {
  padding-top: 25px;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__mobile-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__mobile-menu {
    display: block;
  }
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--active {
  color: #2196F3;
}
.site-nav__link--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: relative;
  top: 30px;
}

.contacts__icon {
  fill: #757575;
  vertical-align: middle;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: #2196F3;
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.mail {
  height: 12px;
  width: 16px;
}
@media screen and (min-width: 768px) {
  .mail {
    height: 10px;
    width: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .mail {
    height: 12px;
    width: 16px;
  }
}

.phone {
  height: 16px;
  width: 10px;
}
@media screen and (min-width: 768px) {
  .phone {
    height: 14px;
    width: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .phone {
    height: 16px;
    width: 10px;
  }
}

.contacts {
  display: none;
  margin-left: auto;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__link {
  display: block;
  margin-top: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
.contacts__link-mail {
  padding-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .contacts__link-mail {
    padding: 32px 0;
  }
}
.contacts__link-phone {
  padding-top: 5px;
}
@media screen and (min-width: 1200px) {
  .contacts__link-phone {
    padding: 32px 0;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}

.site-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  color: #212121;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .site-header__logo {
    padding: 26px 0;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-header__logo {
    margin-right: 93px;
    font-size: 26px;
    padding: 25px 0;
  }
}

.site-header__logo-web {
  color: #2196F3;
}

.footer-content__logo {
  display: inline-block;
  color: #FFFFFF;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-content__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-content__logo-web {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer-content__logo-web {
    font-size: 26px;
    line-height: 1.19;
  }
}

.hero {
  background-color: #2F303A;
  height: 400px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    position: relative;
    background-image: url(../images/hero-bgimg-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 1600px;
    padding-top: 200px;
    background: rgba(47, 48, 58, 0.4);
  }
}

.hero__header {
  width: 360px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__header {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
.button__menu .icon-close {
  display: none;
}
.button__menu.is-open .icon-close {
  display: block;
}
.button__menu.is-open .icon-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .button__menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .button__menu {
    display: none;
  }
}

.hero__button {
  cursor: pointer;
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 24px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.close-button__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button__icon:hover, .close-button__icon:focus {
  fill: #2196F3;
}

.close-button {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
}

.button-submit {
  display: block;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196F3;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
@media screen and (min-width: 1200px) {
  .backdrop {
    overflow-y: hidden;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 610px;
  min-width: 450px;
  border-radius: 4px;
  background: #ffffff;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .form__header {
    line-height: 1.15;
  }
}

.form {
  width: 450px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .form {
    height: 581px;
    width: 528px;
  }
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  height: 18px;
  width: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:hover .form__icon {
  fill: #2196F3;
}
.form__input:focus + .form__icon {
  fill: #2196F3;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__comment {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__lable,
.form__comment label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
}

.form__input {
  margin: 0;
  padding: 0 15px 0 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border: 1px solid #2196F3;
}

::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:hover, .form__textarea:focus {
  border: 1px solid #2196F3;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 90px;
  }
}

.footer-form__input {
  height: 50px;
  width: 450px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2F303A;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    display: inline-block;
    width: 358px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer-form__label {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-form__button {
  height: 50px;
  width: 200px;
  border: 0;
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.footer-form__icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  margin-left: 10px;
  fill: #ffffff;
}

.checkbox {
  margin-bottom: 30px;
  text-align: center;
}

.checkbox__link {
  color: #2196F3;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox__icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: solid 2px #212121;
  border-radius: 2px;
}
.checkbox__input:checked + .checkbox__icon {
  background: #2196F3;
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  border-color: #2196F3;
}

.checkbox__text {
  margin-left: 8px;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
  }
}

.privelege__header {
  display: none;
}

.privelege__object {
  width: 450px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .privelege__object {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .privelege__object {
    width: 270px;
  }
}

.privelege__icon {
  width: 70px;
  height: 70px;
  margin: 25px 190px;
}
@media screen and (min-width: 768px) {
  .privelege__icon {
    margin: 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .privelege__icon {
    margin: 25px 100px;
  }
}

.privelege__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .privelege__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.privelege__item {
  margin-bottom: 30px;
}
.privelege__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .privelege__item {
    margin: 15px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .privelege__item {
    width: 270px;
  }
}

.privelege__header-description {
  font-size: 14px;
  color: #212121;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .privelege__header-description {
    text-align: left;
  }
}

.direction {
  display: none;
}
@media screen and (min-width: 1200px) {
  .direction {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .direction__header {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .direction__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .direction__item {
    margin-right: 30px;
  }
  .direction__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .direction__img {
    position: relative;
    width: 370px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .direction__description {
    position: absolute;
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    line-height: 1.17;
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
    bottom: 0;
  }
}

.team {
  background: #F5F4FA;
}

.team__header {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__header {
    font-size: 36px;
  }
}

.team__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  width: 450px;
  margin-bottom: 30px;
}
.team__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team__item:last-child {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__photo {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team__photo {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__photo {
    width: 270px;
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 16px;
}

.social, .social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__icon-link {
  display: block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.social__icon-link {
  background-color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon-link, .social__link:focus .social__icon-link {
  background-color: #2196F3;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  margin: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #ffffff;
}

.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}

.social-footer {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .social-footer {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .social-footer {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.social-footer__heder {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  margin: 12px;
}

.social-footer__img {
  display: block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__link:hover .social-footer__img, .social-footer__link:focus .social-footer__img {
  background: #2196F3;
}

.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}

.regular-customer__header {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .regular-customer__header {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.regular-customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.regular-customer__img {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .regular-customer__img {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .regular-customer__img {
    width: 170px;
  }
}
.regular-customer__link:hover .regular-customer__img, .regular-customer__link:focus .regular-customer__img {
  border-color: #2196F3;
}

.regular-customer__icon {
  width: 106px;
  height: 60px;
  margin: 16px 52px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customer__link:hover .regular-customer__icon, .regular-customer__link:focus .regular-customer__icon {
  fill: #2196F3;
}
@media screen and (min-width: 1200px) {
  .regular-customer__icon {
    margin: 16px 32px;
  }
}

.regular-customer__item {
  margin: 15px;
}

.footer {
  background-color: #2F303A;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

.footer-content {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
}

address {
  color: #FFFFFF;
  font-style: normal;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  address {
    margin-bottom: 9px;
    width: 230px;
  }
}

.footer-content__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-content__link {
    margin-bottom: 9px;
  }
}

.tel {
  margin-bottom: 0;
}

.site-header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

.portfolio__header {
  display: none;
}

.portfolio-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio-list__item {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
}
.portfolio-list__item:hover, .portfolio-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: 370px;
  }
}

.portfolio-list__card {
  height: 294px;
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio-img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-img {
    width: 370px;
  }
}

.portfolio-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  width: 450px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__item:hover .portfolio-list__overlay, .portfolio-list__link:focus .portfolio-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .portfolio-list__overlay {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__overlay {
    width: 370px;
  }
}

.portfolio-list__description {
  padding: 20px 24px;
}

.portfolio-list__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-list__lable {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
  width: 326px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filter-list__item {
  margin-right: 8px;
  margin-bottom: 8px;
}
.filter-list__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .filter-list__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list__item {
    margin-bottom: 0;
  }
}

.filter-list__button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */