/* Основной цвет текста color: #757575; */
/* Вспомогательный цвет текста color: #212121; */
/* Цвет текста героя color: #FFFFFF; */
/* Цвет актив color: #2196F3; */
/* Вспомогательный цвет логотипа color: #2196F3; */
/* Цвет фона героя и футера background: #2F303A; */
/* Цвет фона Хедера background: #FFFFFF; */
/* Цвет фона верхней части maim background: #FFFFFF; */
/* Цвет фона нижней части maim background: #F5F4FA; */ 
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --active-link-color: #2196F3;
    --secondary-bgcolor: #F5F4FA;
}

/* Стили Index */

body {
    color: var(--primary-text-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

/* Хидер */

.site-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contacts__icon {
    fill: var(--primary-text-color);
    vertical-align: middle;
    margin-right: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
    height: 12px;
    width: 16px;
}

.phone {
    height: 16px;
    width: 10px;
}


.site-header__logo {
    color: #212121;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}

.site-header__logo-web,
.footer-content__logo-web {
    color: #2196F3;
}

/* Хедер __ Навигация */

.site-nav {
    display: flex;
}

.site-nav__item {
    margin-right: 50px;
}

.site-nav__item:last-child {
    margin-right: 0;
}

.site-nav__link {
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--active-link-color)
}

.site-nav__link--active {
    color: var(--active-link-color);
}

.site-nav__link--active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: relative;
    top: 32px;
}

.contacts {
    display: flex;
    margin-left: auto;
    vertical-align: middle;
}

.contacts__item {
    margin-right: 50px;
}

.contacts__item:last-child {
    margin-right: 0;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    fill: var(--active-link-color);
}

.contacts__link {
    display: block;
    margin-top: 0;
    padding-top: 32px;
    padding-bottom: 32px;
   
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts a:hover,
.contacts a:focus {
    color: var(--active-link-color)
}

/* Герой */

.hero {
    background-color: #2F303A;
    background: rgba(47, 48, 58, 0.4);
    background-image: url(../images/hero-bgimg-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    max-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.hero__header {
    width: 696px;
    color:#FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero__button {
    cursor: pointer;
    background-color: var(--active-link-color);
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

/* Модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    min-height: 580px;
    min-width: 530px;
    border-radius: 4px;

    background: #ffffff;
}

.form__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 12px;

    color: #212121;
}

.form {
    width: 530px;
    height: 580px;
    padding: 40px;
}

.form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    height: 18px;
    width: 18px;

    fill: var(--secondary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover .form__icon {
    fill: var(--active-link-color);
}

.form__field {
    position: relative;

    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form__comment {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form__lable,
.form__comment label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
}

.form__input {
    margin: 0;
    padding: 0 15px 0 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus,
.form__textarea:hover,
.form__textarea:focus {
    border: 1px solid var(--active-link-color);
}

.form__input:focus + .form__icon {
    fill: var(--active-link-color);
}

::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form__textarea {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
    margin-bottom: 30px;
    text-align: center;
}

.checkbox__link {
    color: var(--active-link-color);
}

.button-submit {
    display: block;
    padding: 10px 55px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    margin-left: auto;
    margin-right: auto;

    color: #ffffff;
    background-color: var(--active-link-color);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__lable {
    display: flex;
    align-items: center;
    justify-content:center;
}

.checkbox__icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: solid 2px var(--secondary-text-color);
    border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
    background: var(--active-link-color);
    background-image: url(../images/checkbox.svg);
    background-size: contain;
    border-color: var(--active-link-color);
}

.checkbox__text {
    margin-left: 8px;
}

.close-button__icon {
    position: absolute;
    top: 8px;
    right: 8px;

    height: 30px;
    width: 30px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%; 
    padding: 6px;
    fill: #000;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__icon:hover {
    fill: var(--active-link-color);
}

.close-button {
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
}

/* Наши привилегии */

.privelege {
    padding-top: 94px;
}

.privelege__header {
    display: none;
}

.privelege__object {
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bgcolor);
    border-radius: 4px;
    margin-bottom: 30px;
}

.privelege__icon {
    width: 70px;
    height: 70px;
    margin: 25px 100px;
}

.privelege__list {
    display: flex;
}

.privelege__item {
    margin-right: 30px;
}

.privelege__item:last-child {
    margin-right: 0;
}

.privelege__header-description {
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.privelege__description {
    width: 270px;
}

/* Чем мы занимаемся */

.direction {
    padding-top: 94px;
    padding-bottom: 94px;
}

.direction__header,
.team__header {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.direction__list {
    display: flex;
}

.direction__item {
    margin-right: 30px;
}

.direction__item:last-child {
    margin-right: 0;
}

.direction__img {
    position: relative;
    height: 294px;
}

.direction__description {
    position: absolute;
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    line-height: 1.17;
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
    bottom: 0;
}

/* Наша команда */

.team {
    background: var(--secondary-bgcolor);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__list {
    display: flex;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
}

.team__item {
    margin-right: 30px;
}

.team__item:last-child {
    margin-right: 0;
}

.team__photo {
    width: 270px;
}

.team__description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Наша команда __ социальные сети */

.social, .social-footer__list {
    display: flex;
    justify-content: center;
}

.social__icon-link {
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.social__icon-link {
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon-link{
    background-color: var(--active-link-color);
}

.social__icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    margin: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon {
    
    fill: #ffffff;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

/* Постоянные клиенты */

.regular-customer {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-customer__header {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.regular-customer__list {
    display: flex;
    justify-content:center;
}

.regular-customer__img {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer__icon {
    width: 106px;
    height: 60px;
    margin: 16px 32px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer__link:hover .regular-customer__img {
    border-color: var(--active-link-color);
}

.regular-customer__link:hover .regular-customer__icon {
    fill: var(--active-link-color);
}

.regular-customer__item {
    margin-right: 30px;
}

.regular-customer__item:last-child {
    margin-right: 0;
}

/* Футер */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content {
    display: flex;
}

.footer-content__logo {
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
}

address {
    color:#FFFFFF;
    font-style: normal;
    margin-bottom: 9px;
}

.footer-content__link {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.tel {
    margin-bottom: 0;
}

.social-footer {
    margin-left: 70px;
}

.social-footer__heder {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.social-footer__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    margin: 12px;
}

.social-footer__img {
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover .social-footer__img{
    background: var(--active-link-color);
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.footer-form {
    margin-left: 93px;
}

.footer-form__input {
    height: 50px;
    width: 358px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: #2F303A;
    color: #ffffff;
}

.footer-form__label {
    display: block;
    margin-bottom: 20px;

    color: #ffffff;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-form__button {
    height: 50px;
    width: 200px;
    border: 0;
    margin-left: 12px;
    
    color: #ffffff;
    background-color: var(--active-link-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.88;
}

.footer-form__icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-left: 10px;

    fill: #ffffff;
}

/*  */
/*  */
/* Стили Портфолио */
/*  */
/*  */

.site-header-portfolio {
    border-bottom: 1px solid #ECECEC;
}

.portfolio__header {
    display: none;
}

/* Фильтр */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list__item {
    margin-right: 8px;
}

.filter-list__item:last-child {
    margin-right: 0;
}

.filter-list__button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color:var(--secondary-bgcolor);
    color: var(--secondary-text-color);
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover,
.filter-list__button:focus {
    background-color:var(--active-link-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Карточки портфолио */

.portfolio {
    margin-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-list__item {
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover,
.portfolio-list__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-img {
    width: 370px;
}

.portfolio-list__card {
    height: 294px;
    position: relative;
    overflow: hidden;
}

.portfolio-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 294px;
    width: 370px;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    color: #ffffff;
    transform: translateY(100%);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover .portfolio-list__overlay,
.portfolio-list__link:focus .portfolio-list__overlay {
    transform: translateY(0);
}

.portfolio-list__description {
    padding: 20px 24px;
}

.portfolio-list__name {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}

.portfolio-list__lable {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}