.footer {
    background-color: $footer-bgcolor;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content {
    display: flex;
}

address {
    color:#FFFFFF;
    font-style: normal;
    margin-bottom: 9px;
}

.footer-content__link {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.tel {
    margin-bottom: 0;
}