.regular-customer {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-customer__header {
    color: $secondary-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.regular-customer__list {
    display: flex;
    justify-content:center;
}

.regular-customer__img {
    border: 1px solid $primary-icon-color;
    border-radius: 4px;
    width: 170px;
    height: 92px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .regular-customer__link:hover & {
        border-color: $active-color;
    }
}

.regular-customer__icon {
    width: 106px;
    height: 60px;
    margin: 16px 32px;
    fill: $primary-icon-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .regular-customer__link:hover & {
        fill: $active-color;
    }
}

.regular-customer__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}