.portfolio-list {
    display: block;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
}

.portfolio-list__item {
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 450px;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
    }
}

.portfolio-list__card {
    height: 294px;
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    width: 450px;
}

.portfolio-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 294px;
    width: 450px;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    color: #ffffff;
    transform: translateY(100%);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-list__item:hover &,
    .portfolio-list__link:focus & {
        transform: translateY(0);
    }
}

.portfolio-list__description {
    padding: 20px 24px;
}

.portfolio-list__name {
    color: $secondary-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}

.portfolio-list__lable {
    font-size: 16px;
    line-height: 1.88;
    color:$primary-color;
}