.checkbox {
    margin-bottom: 30px;
    text-align: center;
}

.checkbox__link {
    color: $active-color;
    font-size: 12px;
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__lable {
    display: flex;
    align-items: center;
    justify-content:center;
}

.checkbox__icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: solid 2px $secondary-color;
    border-radius: 2px;

    .checkbox__input:checked + & {
        background: $active-color;
        background-image: url(../images/checkbox.svg);
        background-size: contain;
        border-color: $active-color;
    }
}

.checkbox__text {
    margin-left: 8px;
    font-size: 12px;
}