.container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px;

    
    outline: 1px solid tomato;

    // @media screen and (min-width: $mobile) {
    //     width: $mobile;
    // }

    @media screen and (min-width: $tablet) {
        width: $tablet;
        padding: 60px 15px;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
        padding: 94px 15px;
    }
}

.heder__container {
    // height: 60px;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    // align-items: center;
    // justify-content: flex-end;
    
}

.hero__container {
    padding-top: 118px;
    padding-bottom: 118px;
}

.direction__container {
    padding-top: 25px;
}