.container {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media screen and (min-width: $tablet) {
        max-width: none;
        width: $tablet;
        padding: 0 15px;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
        padding: 0 15px;
    }
}

.heder__container {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    height: 60px;

    @media screen and (max-width: 767px) {
        height: 60px;
        justify-content: space-between;
    }    

    @media screen and (min-width: $tablet) {
        height: 80px;
        
    }
}

.hero__container {
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
    }
}

.direction__container {
    padding-top: 25px;
}