.direction {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
        padding-top: 25px;
    }
}

.direction__header {
    @media screen and (min-width: $desktop) {
        color: $secondary-color;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }
}

.direction__list {
    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.direction__item {
    @media screen and (min-width: $desktop) {
        margin-right: 30px;
    
        &:last-child {
        margin-right: 0;
    }
    }
}

.direction__img {
    @media screen and (min-width: $desktop) {
        position: relative;
        width: 370px;
        height: 294px;
    }
}

.direction__description {
    @media screen and (min-width: $desktop) {
        position: absolute;
        width: 370px;
        background: rgba(47, 48, 58, 0.8);
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        line-height: 1.17;
        padding-top: 27px;
        padding-bottom: 27px;
        text-transform: uppercase;
        bottom: 0;
    }
}