.form__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;

    color: $secondary-color;

    @media screen and (min-width: $desktop) {
        line-height: 1.15;
    }
}

.form {
    width: 450px;
    // height: 580px;
    padding: 40px;

    @media screen and (min-width: $desktop) {
        height: 581px;
        width: 528px;
    }
}

.form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    height: 18px;
    width: 18px;

    fill: $secondary-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__field:hover & {
        fill: $active-color;
    }

    .form__input:focus + & {
        fill: $active-color;
    }
}

.form__field {
    position: relative;

    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form__comment {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form__lable,
.form__comment label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
}

.form__input {
    margin: 0;
    padding: 0 15px 0 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $active-color;
    }
}

::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form__textarea {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $active-color;
    }
}

.footer-form {
    
    @media screen and (min-width: $desktop) {
        margin-left: 90px;
    }
}

.footer-form__input {
    
    height: 50px;
    width: 100%;
    max-width: 450px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: #2F303A;
    color: #ffffff;

    @media screen and (min-width: $mobile) {
        display: block;
    }

    @media screen and (min-width: $desktop) {
        display: inline-block;
        width: 358px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.footer-form__label {
    display: block;
    margin-bottom: 20px;

    color: #ffffff;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-form__button {
    height: 50px;
    width: 200px;
    border: 0;
    
    color: #ffffff;
    background-color: $active-color;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.88;

    @media screen and (min-width: $desktop) {
        margin-left: 12px;
    }
}

.footer-form__icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-left: 10px;

    fill: #ffffff;
}