.hero {
    position: relative;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-Img@1x-min.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
        
        max-width: none;
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: 100%;
        max-width: 1600px;
        height: 600px;
    }
}

// .hero__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: rgba(47, 48, 58, 0.4);

//     @media screen and (min-width: $mobile) {
//         height: 400px;
//         width: 100%;
//         max-width: 480px;
//         background: rgba(47, 48, 58, 0.4);
//     } 

//     @media screen and (min-width: $tablet) {
//         height: 400px;
//         width: 100%;
//         max-width: 768px;
//         background: rgba(47, 48, 58, 0.4);
//     } 

//     @media screen and (min-width: $desktop) {
//         height: 600px;
//         width: 100%;
//         max-width: 1600px;
//         background: rgba(47, 48, 58, 0.4);
//     } 
// }

.hero__header {
    width: 360px;
    color:#FFFFFF;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $desktop) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}