.site-header__logo {
    color: $secondary-color;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}

.site-header__logo-web {
    color: $active-color;
}

.footer-content__logo {
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
}

.footer-content__logo-web {
    color: $active-color;
}