.privelege {
    padding-top: 94px;
}

.privelege__header {
    display: none;
}

.privelege__object {
    width: 270px;
    height: 120px;
    background-color: $secondary-bgcolor;
    border-radius: 4px;
    margin-bottom: 30px;
}

.privelege__icon {
    width: 70px;
    height: 70px;
    margin: 25px 100px;
}

.privelege__list {
    display: flex;
}

.privelege__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.privelege__header-description {
    font-size: 14px;
    color: $secondary-color;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.privelege__description {
    width: 270px;
}