.regular-customer {
    // padding-top: 60px;
    // padding-bottom: 60px;
}

// .regular-customer__container {
//     padding: 0;
// }


.regular-customer__header {
    color: $secondary-color;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.regular-customer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: -15px;
}

.regular-customer__img {
    border: 1px solid $primary-icon-color;
    border-radius: 4px;
    width: 210px;
    height: 92px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet) {
        width: 226px;
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
    }

    .regular-customer__link:hover & {
        border-color: $active-color;
    }
}

.regular-customer__icon {
    width: 106px;
    height: 60px;
    margin: 16px 52px;
    fill: $primary-icon-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .regular-customer__link:hover & {
        fill: $active-color;
    }

    @media screen and (min-width: $desktop) {
        margin: 16px 32px;
    }
}

.regular-customer__item {
    margin: 15px;

    // &:last-child {
    //     margin-right: 0;
    // }
}