.page-header {}

.menu {
    @media screen and (min-width: $tablet) {
        position: static;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
}

.site-nav__container {
  
    // @media screen and (max-width: 767px) {
        position: fixed;
        z-index: 1;
        display: flex;
        top: 0;
        left: 0;
        background-color: #ffffff;
        padding: 40px;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;

        transform: translateY(-100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        

        &.is-open {
            transform: translateY(0);
            
        } 

         
        // }

     

    @media screen and (min-width: $tablet) {
        display: none;
    } 
}

.site-nav {

    @media screen and (max-width: 767px) {
        flex-grow: 1;
    } 
    
    @media screen and (min-width: $tablet) {
        position: static;
        display: flex;
    } 
}

.site-nav__item {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
    } 
    
}

.site-nav__link {
    position: relative;
    color: $secondary-color;
    font-weight: 500;
    letter-spacing: 0.02em;
 
    @media screen and (max-width: 767px) {
        display: block;
        font-size: 40px;
        line-height: 1.17;
    } 
    
    &--active {
        color: $active-color;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        color: $secondary-color;
        line-height: 1.14;
        padding: 32px 0;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: $active-color
        }
    
        &--active {
            color: $active-color;
        }
    
        &--active::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: $active-color;
            border-radius: 2px;
            position: absolute;
            bottom: 0px;
        }
    } 

}

.site-nav__horisont {
    @media screen and (max-width: 767px) {
        display: none;
    } 
}