.social, .social-footer__list {
    display: flex;
    justify-content: center;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
    background-color: $active-color;
}

.social__icon {
    width: 20px;
    height: 20px;
    fill: $primary-icon-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social__link:hover &,
    .social__link:focus & {
        fill: #ffffff;
    }
}

.social__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.social-footer {
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
        margin-left: 165px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 70px;
        margin-bottom: 0;
    }
}

.social-footer__heder {
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.social-footer__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    margin: 12px;
}

.social-footer__img {
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-footer__link:hover &,
    .social-footer__link:focus & {
        background: $active-color;
    }
}

.social__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.social-mobile__list {
    display: flex;

    @media screen and (min-width: $tablet) {
        display: none;
    } 
}

.social-mobile__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
        border-right: none;
    }
}

.social-mobail__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    color: $active-color;
    padding: 0 10px;
}