$primary-color: #757575;
$secondary-color: #212121;
$active-color: #2196F3;
$secondary-bgcolor: #F5F4FA;
$backdrop-color: rgba(0, 0, 0, 0.2);
$modal-bgcolor: #ffffff;
$primary-icon-color: #AFB1B8;
$footer-bgcolor: #2F303A;